@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  /* margin: 0; */
  /* padding: 0; */
}

body {
  font-family: 'Roboto Mono', sans-serif;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #8a44ed;
  color: white;
}
.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 50px;
}

.counter {
  font-size: 60px;
  margin-top: 10px;
}

@media (max-width: 700px) {
  .counter-container {
    margin: 30px 30px;
  }
  .counter {
    font-size: 50px;
  }
}

@media (max-width: 580px) {
  body {
    flex-direction: column;
  }
}
