@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

body {
  margin: 0%;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  background-color: #333;
  color: #222;
}

.container {
  background-color: #fafafa;
  padding: 50px;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  transform-origin: top left;
}

.container.show-nav {
  transform: rotate(-20deg);
  transform-origin: top left;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #ff7979;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 10px 0px;
  position: relative;
  transition: transform 0.5s linear;
}

.circle button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background-color: transparent;
  font-size: 26px;
  color: white;
  border: none;
  cursor: pointer;
}

.circle button:focus {
  outline: none;
}

.circle #open {
  left: 60%;
}
.circle #close {
  top: 60%;
  transform-origin: top left;
  transform: rotate(90deg);
}

.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content h1 {
  margin-bottom: 0px;
}

.content small {
  color: #555;
  font-style: italic;
}

.content img {
  max-width: 100%;
}

.content p {
  color: #333;
  line-height: 1.5;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  left: 0;
  bottom: 40px;
  z-index: 100;
}

nav ul {
  list-style: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: white;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.4s ease-in;
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}
nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}

nav ul li i {
  margin-right: 10px;
  font-size: 20px;
}
